<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browser Communication</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('message', function(msg) {
            var messageDiv = document.getElementById('messages');
            messageDiv.textContent = msg;
        });
    </script>
</head>
<body>
    <div id="messages">{{message}}</div>
</body>
</html>
